<div class="w-full h-screen m-0 flex flex-wrap flex-col bg-[#bbdefb] md:flex-row">
    
    <div class="flex flex-wrap flex-col justify-center items-center flex-[1] bg-[#8F0200] md:items-center md:justify-end">
        
        <h1 class="text-white text-center text-4xl">Tailwindcss</h1>
        
        <p class="text-white text-center mt-[20px] pl-[20px] pr-[20px] md:pb-[100px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, tenetur perspiciatis! A sapiente ex nihil vel assumenda sequi fugit dicta. Quo omnis obcaecati, nulla saepe officiis hic illo harum! Facere!</p>
    </div>

    <div class="flex flex-wrap flex-col justify-center items-center flex-[1] bg-[#A30300] md:items-center md:justify-end">
        
        <h1 class="text-white text-center text-4xl">Tailwindcss</h1>
        
        <p class="text-white text-center mt-[20px] pl-[20px] pr-[20px] md:pb-[100px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, tenetur perspiciatis! A sapiente ex nihil vel assumenda sequi fugit dicta. Quo omnis obcaecati, nulla saepe officiis hic illo harum! Facere!</p>
    </div>

    <div class="flex flex-wrap flex-col justify-center items-center flex-[1] bg-[#B80300] md:items-center md:justify-end">
        
        <h1 class="text-white text-center text-4xl">Tailwindcss</h1>
        
        <p class="text-white text-center mt-[20px] pl-[20px] pr-[20px] md:pb-[100px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, tenetur perspiciatis! A sapiente ex nihil vel assumenda sequi fugit dicta. Quo omnis obcaecati, nulla saepe officiis hic illo harum! Facere!</p>
    </div>
</div>